<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    <title>Productos Microsoft</title>
    <!-- font icons -->
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + CMI main styles -->
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/assets/css/rubic.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40">

<section class="section">
    <div class="container text-center">
        <h6 class="display-4 has-line">Productos asociados Microsoft</h6>
        <p class="mb-5 pb-4">Fuente: CVE</p>
        <div class="container text-center">
            {% if graphJSON_micro %}
                <div id='chart' class='chart' ”></div>
                <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                <script type='text/javascript'>
                    var graphs = {{graphJSON_micro | safe}};
                    Plotly.plot('chart', graphs, {});
                </script>
            {% endif %}
        </div>
    </div>
</section>

<!-- core  -->
<script src="http://127.0.0.1:5000/static/assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="http://127.0.0.1:5000/static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="http://127.0.0.1:5000/static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="http://127.0.0.1:5000/static/assets/js/rubic.js"></script>

</body>
</html>
