<title>Paginas web vulnerables</title>

<h1>TOP X DE PAGINAS WEBS VULNERABLES</h1>

<form method="POST">
    Selecciona el Top X:<br>
    <input type="text" name="tag"><br>
    <input type="submit" value="Submit">
</form>
{% if graphJSON_webs %}
  <div id='chart' class='chart'”></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{graphJSON_webs | safe}};
      Plotly.plot('chart',graphs,{});
    </script>
{% endif %}