<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    <title>CMI SI</title>
    <!-- font icons -->
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + CMI main styles -->
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/assets/css/rubic.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

<nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix"
     data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="#"><strong class="text-primary">CMI</strong><span
                class="text-light"> web</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#ejercicio2">Ejercicio 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ejercicio3">Ejercicio 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ejercicio4">Ejercicio 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ejercicio5">Ejercicio 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ejercicio6">Ejercicio 6</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-block" href="http://127.0.0.1:5000/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="header d-flex justify-content-center">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-md-7">
                <div class="header-content">
                    <h3 class="header-title"><strong class="text-primary">CMI</strong><span> web</span></h3>
                    <h4 class="header-subtitle">Cuadro de Mando Integral</h4>
                    <h5>Ayudamos en la toma de decisiones a la dirección de la empresa. ¡Conócenos!</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="social-wrapper">
    <div class="container">
        <div class="social-txt">
            <h6 class="title">Social Media</h6>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com" class="link"><i class="ti-facebook"></i></a>
            <a href="https://www.twitter.com" class="link"><i class="ti-twitter-alt"></i></a>
            <a href="https://www.instagram.com" class="link"><i class="ti-instagram"></i></a>
            <a href="https://www.pinterest.com" class="link"><i class="ti-pinterest-alt"></i></a>
        </div>
    </div>
</div>
<section class="section" id="ejercicio2">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-8">
                <div class="tabs-container">
                    <ul class="nav tab-nav" id="pills-tab">
                        <li class="item">
                            <a class="link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                               aria-selected="true">Usuarios</a>
                        </li>
                        <li class="item">
                            <a class="link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                               aria-selected="false">Webs</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-home">
                            <h4 class="title">Top X de usuarios críticos</h4>
                            <p>Consideramos que un usuario crítico es aquel usuario que tiene la contraseña débil y
                                además tiene mayor probabilidad de pulsar en un correo de spam.</p>

                            <button class="btn btn-primary mt-3"
                                    onclick="location.href='http://127.0.0.1:5000/ejercicio2/usuarios/criticos'">Ver
                            </button>
                        </div>
                        <div class="tab-pane fade" id="pills-profile">
                            <h4 class="title">Top X de páginas web vulnerables</h4>
                            <p>Consideramos que una web es vulnerable si tienen más políticas (cookies, protección de
                                datos o aviso legal) desactualizadas.</p>

                            <button class="btn btn-primary mt-3"
                                    onclick="location.href='http://127.0.0.1:5000/ejercicio2/webs/vulnerables'">Ver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block align-self-center">
                <img src="http://127.0.0.1:5000/static/assets/imgs/warning-sign.png" alt="" class="w-100 tower">
            </div>
        </div>
    </div>
</section>
<section class="section" id="ejercicio3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5 align-self-center mb-4 mb-md-0">
                <img src="http://127.0.0.1:5000/static/assets/imgs/spam.png" alt="" class="shadow w-100">
            </div>
            <div class="col-md-6 col-lg-5">
                <h6 class="title">Top X de usuarios críticos</h6>
                <p>Puede visualizar el top X de usuarios críticos y seleccionar si desea que se muestre la información
                    de los usuarios que han pulsado más del 50% de veces al correo de spam o menos del 50%</p>
                <button class="btn btn-primary mt-3"
                        onclick="location.href='http://127.0.0.1:5000/ejercicio3/info/mas50'">Más del 50%
                </button>
                <button class="btn btn-primary mt-3"
                        onclick="location.href='http://127.0.0.1:5000/ejercicio3/info/menos50'">Menos del 50%
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section" id="ejercicio4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-5 align-self-center">
                <h6 class="title">Últimas 10 vulnerabilidades</h6>
                <p>Consulta las últimas vulnerabilidades <strong>en tiempo real</strong> según el CVE.</p>
                <button class="btn btn-primary mt-3"
                        onclick="location.href='http://127.0.0.1:5000/ejercicio4'">Ver
                </button>
            </div>
            <div class="col-md-5 mt-4 mt-md-0">
                <img src="http://127.0.0.1:5000/static/assets/imgs/monitor.png" alt="" class="shadow w-100">
            </div>

        </div>
    </div>
</section>
<section class="section" id="ejercicio5">
    <div class="container text-center">
        <h6 class="display-4 has-line">Otras funcionalidades</h6>
        <p class="mb-5 pb-4">Descubre el resto de funcionalidades que ofrece nuestro CMI.</p>
        <div class="row">
            <div class="col-lg-6">
                <h6 class="title mb-3">IPs por usuario</h6>
                <p>Número de IPs de cada usuario.</p>
                <button class="btn btn-primary mt-3"
                        onclick="location.href='http://127.0.0.1:5000/ejercicio5/ips'">Ver
                </button>
            </div>
            <div class="col-lg-6">
                <h6 class="title mb-3">Productos asociados a Microsoft</h6>
                <p>Consulta los productos asociados a <strong>Microsoft</strong> según el CVE.</p>
                <button class="btn btn-primary mt-3"
                        onclick="location.href='http://127.0.0.1:5000/ejercicio5/microsoft'">Ver
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section" id="ejercicio6">
    <div class="container text-center">
        <h6 class="display-4 has-line">Modelos de aprendizaje supervisado</h6>
        <p class="mb-5 pb-4">Nuestros modelos determinan, mediante algoritmos de inteligencia artificial, si un usuario
            es crítico o no. Sólo tienes que elegir uno y lo verás gráficamente.</p>
        <div class="row text-left">
            <div class="col-md-4">
                <div class="testmonial">
                    <p class="description"><i>Regresión lineal</i></p>
                    <div class="media">
                        <button class="btn-dark"><a class="image-link" href="https://raw.githubusercontent.com/mdvrsch/SI-Practica-2/main/machine_learning/regresionLineal.png
">Ver</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testmonial">
                    <p class="description"><i>Árbol de decisión</i></p>
                    <div class="media">
                        <button class="btn-dark"><a class="image-link" href="https://raw.githubusercontent.com/mdvrsch/SI-Practica-2/main/machine_learning/decisionTree.png
">Ver</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testmonial">
                    <p class="description"><i>Random forest</i></p>
                    <div class="media">
                        <button class="btn-dark"><a class="image-link" href="https://raw.githubusercontent.com/mdvrsch/SI-Practica-2/main/machine_learning/randomForest.png
">Ver</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<footer class="footer py-4 bg-dark text-light">
    <div class="container text-center">
        <div class="social-links">
            <a href="https://www.facebook.com" class="link"><i class="ti-facebook"></i></a>
            <a href="https://www.twitter.com" class="link"><i class="ti-twitter-alt"></i></a>
            <a href="https://www.instagram.com" class="link"><i class="ti-instagram"></i></a>
            <a href="https://www.pinterest.com" class="link"><i class="ti-pinterest-alt"></i></a>
        </div>
    </div>
</footer>

<!-- core  -->
<script src="http://127.0.0.1:5000/static/assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="http://127.0.0.1:5000/static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="http://127.0.0.1:5000/static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Rubic js -->
<script src="http://127.0.0.1:5000/static/assets/js/rubic.js"></script>

</body>
</html>
